* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1;
}

body {
  background-color: #D3D3D3;
  font-size: 16px;
  color: #1f1f1f;
}

p#currentDay.header-text {
  font-weight: bold;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

.textarea {
  resize: none;
  border-left: 1px solid #1f1f1f;
  font-size: 20px;
}

.time-block {
  text-align: center;
  border-radius: 16px;
  padding-bottom: 2px;
}

.hour {
  background-color: #fff;
  font-weight: bold; 
  color: #1f1f1f;
}

.saveBtn {
  border-left: 1px solid #1f1f1f;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #74b9ff;
  color: #fff;
  padding: 20px 30px;
}

footer {
  text-align: center;
  padding-top: 16px;
}

.past {
  background-color: #dfe6e9;
}
.present {
  background-color: #ff7675;
}
.future {
  background-color: #7bed9f;
}